.todo {
  
    background-color: rgb(198, 49, 49);
    margin : 0.5rem ;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.5rem;

}

.todo:hover {
    background-color: rgba(201, 184, 38, 0.674);
}

.todo p {
    opacity: 0.6;
    color: rgb(189, 237, 33);
    font-size: large;

}

.btn {
    border: none;
    background-color: transparent;
    color: rgb(215, 233, 16);
    cursor: pointer;
}