.faq {

    margin: 1rem;
    background-color: rgb(24, 223, 234);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem #222;

}

.faq div {

   display: flex;
   justify-content: space-between;

}