.container {

  min-height: 100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding: 1rem;


}

.faqs {

   width: 50rem;
   max-width: 100%;
   background-color: rgb(27, 191, 174);
   padding: 1rem;




}

 h1 {
     text-align: center;
 }